ul > li{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 40px;
  border: 1px solid #b1bdc8;
  border-radius: 5px;
  background-color: white;

  list-style: none;
  box-shadow: 2px 3px 3px #b1bdc8;
}

li > p{
  padding-left: 5px;
  width: 80%;
  text-align: left;
  cursor: default;

}

li > span{
  width: 20px;

  text-align: center;
  cursor: pointer;
  
  text-shadow: 1px 3px 1px #b1bdc8;
}

.button-check--active {
  color: green ;
} 

.delete-button:hover {
  color: red;
}